.search input[type="text"] {
	display: inline-block;
	width: 60%;
}

.search input[type="submit"] {
	display: inline-block;
	width: 20%;
}

#pagefooter {
    box-sizing: border-box;
    text-align: center;
    
    padding-left: 15rem;
	font-size: 12px;
}